body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 17, 17);
    height: 100vh;
}

.container{
    background-color: rgb(73, 17, 119);
    color: aliceblue;
    width: 350px;
    padding: 40px;
    text-align: center;
    border: solid 10px;
    border-radius: 10px;
    border-color: rgb(43, 4, 184);
}