body{
    margin: 0;
    padding: 0;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    background-color: rgb(25, 27, 172);
    color: antiquewhite;

}