body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.container{
    background-color: rgb(25, 25, 83);
    color: aliceblue;
    width: 350px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}